<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codeer.Friendly" version="2.6.1" targetFramework="net40" />
  <package id="Codeer.Friendly.Windows" version="2.15.0" targetFramework="net40" />
  <package id="Codeer.Friendly.Windows.Grasp" version="2.14.0" targetFramework="net40" />
  <package id="Codeer.TestAssistant.GeneratorToolKit" version="3.13.0" targetFramework="net40" />
</packages>